{% extends "layout.html"%}
{% block content %}
<table class="styled-table">
    <thead>
        <tr>
            <th>BAN ID</th>
            <th>USER</th>
            <th>BAN DATE</th>
            <th>UNBAN DATE</th>
            <th>INDEFINITE BAN</th>
            <th>CURRENTLY BANNED</th>
            <th>CREATE DATE</th>
            <th>UPDATE DATE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for ban in bans%}
            <tr>
                <td>{{ ban.ban.BAN_ID}}</td>
                <td>{{ ban.user.USER_NAME}}</td>
                <td>{{ ban.ban.BAN_DATE}}</td>
                <td>{{ ban.ban.UNBAN_DATE}}</td>
                <td>{{ ban.ban.INDEFINITE_BAN}}</td>
                <td>{{ ban.ban.CURRENTLY_BANNED}}</td>
                <td>{{ ban.ban.CREATE_DATE}}</td>
                <td>{{ ban.ban.UPDATE_DATE}}</td>
                <td>
                    <form action="" method="post" class="center-form-icon">
                        {% if ban.ban.CURRENTLY_BANNED == 1 %}
                            <button type="submit" class="fabutton" name="{{ban.ban.BAN_ID}}">
                                <i class="fas fa-trash fa-1x"></i>
                            </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}


