{% extends "layout.html"%}
{% block content %}
<table class="styled-table">
    <thead>
        <tr>
            <th>BAN ID</th>
            <th>HASH ID</th>
            <th>BAN DATE</th>
            <th>UNBAN DATE</th>
            <th>INDEFINITE BAN</th>
            <th>CURRENTLY BANNED</th>
            <th>CREATE DATE</th>
            <th>UPDATE DATE</th>
        </tr>
    </thead>
    <tbody>
        {%for ban in bans%}
            <tr>
                <td>{{ ban.BAN_ID }}</td>
                <td>{{ ban.HASH_ID }}</td>
                <td>{{ ban.BAN_DATE }}</td>
                <td>{{ ban.UNBAN_DATE }}</td>
                <td>{{ ban.INDEFINITE_BAN }}</td>
                <td>{{ ban.CURRENTLY_BANNED }}</td>
                <td>{{ ban.CREATE_DATE }}</td>
                <td>{{ ban.UPDATE_DATE }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}


