{% extends "layout.html"%}
{% block content %}
<form class='insultform' action="" method="post" role="form">
    {{ form.hidden_tag() }}

    <textarea type="text" name='INSULT_TEXT' class='textarea form-control' class="form-control"></textarea>	
    <input type="text" name ='INSULT_FILE' class="form-control" ></input>	
    <input type="text" name='USER_REFERENCED' class="form-control"></input>
    <div>
        <input type="checkbox" value=1 name="ACTIVE">
        <label for="scales">Active</label>
      </div>
      
      <div>
        <input type="checkbox" value=1 name="INDEFINITE_BAN">
        <label for="horns">Indefinite Ban</label>
      </div>
    

    <center>
        <button type="submit" class="btn btn-success">Submit</button>
    </center>
</form>
{% endblock content %}


